body{ /*changing background*/
    margin: 0px;
    background-image: url(../img/interbasic.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 100%;
}

h1,h2,h3,h4,h5,h6{ /*font changes*/
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline;
    font-weight: normal;
    color: white;
    
}

h1,h5{ /*font changes*/
    font-size: 20px;
    color: aliceblue;
    font-family: 'Montserrat',sans-serif;
}

body > main > section > div + div > h3{ /*font size change*/
    font-size: 10px;
}

body > main > section > div + div > h3 > h6{ /*font size change*/
    font-size: 20px;
}
.cast{ /*font changes*/
    font-size: 15px; 
    color: aliceblue;
}


li,a{ /*font changes*/
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: black;
}


main > div > h2{ /*font changes*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside > article > h5{ /*font changes*/
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
}

aside > article + article > h5{ /*font changes*/
    font-family: 'Montserrat',sans-serif;
    font-size: 35px;
}

aside > article + article > h5 + h5{ /*font changes*/
    font-family: 'Montserrat',sans-serif;
    font-size: 45px;
    font-weight: bold;
}

aside > article + article > h5 + h5 + h5{ /*font changes*/
    font-family: 'Montserrat',sans-serif;
    font-size: 8px;
    margin-top: 0px;
}